body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', black;
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

}
.saflex {
    display: -webkit-flex;
}

.welcome {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: lowercase;
}

h3 a {
    padding: 0px 25px;
}

a {
    color: lightgrey;
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}




.instabtn {
    display: block;
    background-image: url(images/ig-icon.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: all 0.5s;
    margin: 5px;
}

.instabtn:hover {
    transition: all 0.5s;
    opacity: 1;
}

.ytbtn {
    display: block;
    background-image: url(images/yt-icon.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: all 0.5s;
    margin: 5px;
}

.ytbtn:hover {
    transition: all 0.5s;
    opacity: 1;
}

.vimbtn {
    display: block;
    background-image: url(images/vim-icon.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: all 0.5s;
    margin: 5px;
}

.vimbtn:hover {
    transition: all 0.5s;
    opacity: 1;
}

.lnbtn {
    display: block;
    background-image: url(images/ln-icon.png);
    background-size: 40px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    transition: all 0.5s;
    margin: 5px;
}

.lnbtn:hover {
    transition: all 0.5s;
    opacity: 1;
}